.login__auth__container {
    height: auto;
    width: 100%;
    background: linear-gradient(135deg, var(--neutral-50) 0%, white 100%);
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.login__auth {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}